
@{
    ViewBag.Title = "Thankyou";
    Layout = null;
}

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="" name="description">
    <meta content="Association Bids" name="author">
    <meta name="keywords" content="" />

    <!-- Favicon -->
    <!-- Title -->
    <title>Registration</title>
    <!--Bootstrap.min css-->
    <link rel="stylesheet" href="~/Content/themes/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Dashboard css -->
    <link href="~/Content/themes/assets/css/style.css" rel="stylesheet" />

    <!-- Perfect scroll bar css-->
    <link href="~/Content/themes/assets/plugins/pscrollbar/perfect-scrollbar.css" rel="stylesheet" />

    <!-- Sidemenu css -->
    <link rel="stylesheet" href="~/Content/themes/assets/plugins/sidemenu/sidemenu-icon.css">

    <!--Daterangepicker css-->
    <link href="~/Content/themes/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Sidebar Accordions css -->
    <link href="~/Content/themes/assets/plugins/sidemenu-responsive-tabs/css/easy-responsive-tabs.css" rel="stylesheet">

    <!-- Rightsidebar css -->
    <link href="~/Content/themes/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

    <!--News ticker css -->
    <link href="~/Content/themes/assets/plugins/newsticker/breaking-news-ticker.css" rel="stylesheet" />

    <!---Font icons css-->
    <link href="~/Content/themes/assets/plugins/webfonts/plugin.css" rel="stylesheet" />
    <link href="~/Content/themes/assets/plugins/webfonts/icons.css" rel="stylesheet" />
    <link href="~/Content/themes/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

    <!--Select2 css -->
    <link href="~/Content/themes/assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- Time picker css-->
    <link href="~/Content/themes/assets/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" />

    <!-- Date Picker css-->
    <link href="~/Content/themes/assets/plugins/spectrum-date-picker/spectrum.css" rel="stylesheet" />

    <!-- File Uploads css-->
    <link href="~/Content/themes/assets/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Content/themes/assets/plugins/multipleselect/multiple-select.css">

    <!-- Color-skins css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/Content/themes/assets/colors/color-skins/color.css" />
    <link rel="stylesheet" href="~/Content/themes/assets/css/demo-styles.css" />


    <!-- Color-skins css -->



</head>

<body class="app sidebar-mini">

    <!--Global-Loader-->


    <div class="page">
        <div class="page-main">
            <!--app-header-->
            <!--/app-header-->
            <!-- Sidebar menu-->
            <!--sidemenu end-->
            <!-- app-content-->
            <div class="container  my-3 my-md-5  my-3 my-md-5">
                <div class="side-app">

                    <div class="row">

                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="text-left mb-6">
                                        <img src="~/assets/images/brand/logo.png" width="200" />
                                    </div>
                                    <div class="col-md-8 col-sm-12 m-lg-auto m-md-auto m-sm-auto ">
                                        <img src="~/Content/themes/assets/images/svg/businessman.svg" class="img-fluid w-8 mb-5 mt-4" />
                                        <!--<img src="assets/images/thank-you.png" class="img-fluid w-20 mb-5 mt-4">-->
                                        <h1 class="text-primary sign-text">Link Expired!</h1>
                                        <p class="sign-content">
                                            @*You have been registered successfully, We will review your details and approve your account. This might take
                                                up to 24 hours.*@
                                            Please Contact to Administration for Resend Link.
                                        </p>
                                        <a href="~/Login/Index" class="btn btn-primary">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>


            <!--footer-->
            <!-- End Footer-->
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-12 col-sm-12   text-center">
                        Copyright © 2020 Association Bids. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Page -->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <script src="~/Content/themes/assets/js/vendors/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrdf6lMXdWuW5HFQrLnkNB_Se8OY8fRMY&sensor=true"></script>
    <script src="~/Scripts/Registration/RegistrationValidation.js"></script>
    <script src="~/Content/themes/chosen.jquery.min.js"></script>
    <link href="~/Content/themes/chosen.min.css" rel="stylesheet" />
    <script src="~/assets/plugins/fileuploads/js/dropify.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify-demo.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!--Jquery Sparkline js-->
    <script src="~/Content/themes/assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Chart Circle js-->
    <script src="~/Content/themes/assets/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating js-->
    <script src="~/Content/themes/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Moment js-->
    <script src="~/Content/themes/assets/plugins/moment/moment.min.js"></script>

    <!-- Daterangepicker js-->
    <script src="~/Content/themes/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!--Side-menu js-->
    <script src="~/Content/themes/assets/plugins/sidemenu/sidemenu-icon.js"></script>

    <!--News Ticker js-->
    <script src="~/Content/themes/assets/plugins/newsticker/breaking-news-ticker.min.js"></script>
    <script src="~/Content/themes/assets/plugins/newsticker/newsticker.js"></script>

    <!-- Sidebar Accordions js -->
    <script src="~/Content/themes/assets/plugins/sidemenu-responsive-tabs/js/easyResponsiveTabs.js"></script>

    <!-- Perfect scroll bar js-->
    <script src="~/Content/themes/assets/plugins/pscrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/themes/assets/plugins/pscrollbar/p-scroll.js"></script>

    <!-- Rightsidebar js -->
    <script src="~/Content/themes/assets/plugins/sidebar/sidebar.js"></script>

    <!-- File uploads js -->
    <script src="~/Content/themes/assets/plugins/fileuploads/js/dropify.js"></script>
    <script src="~/Content/themes/assets/plugins/fileuploads/js/dropify-demo.js"></script>

    <!--Select2 js -->
    <script src="~/Content/themes/assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/Content/themes/assets/js/select2.js"></script>

    <!--Time Counter js-->
    <script src="~/Content/themes/assets/plugins/counters/jquery.missofis-countdown.js"></script>
    <script src="~/Content/themes/assets/plugins/counters/counter.js"></script>

    <!-- Timepicker js -->
    <script src="~/Content/themes/assets/plugins/time-picker/jquery.timepicker.js"></script>
    <script src="~/Content/themes/assets/plugins/time-picker/toggles.min.js"></script>

    <link rel="stylesheet" href="~/Content/themes/assets/css/cust-wizard.css">
    <script src="~/Content/themes/assets/js/cust-wizard.js"></script>

    <!-- Datepicker js -->
    <script src="~/Content/themes/assets/plugins/spectrum-date-picker/spectrum.js"></script>
    <script src="~/Content/themes/assets/plugins/spectrum-date-picker/jquery-ui.js"></script>
    <script src="~/Content/themes/assets/plugins/input-mask/jquery.maskedinput.js"></script>


    <link rel="stylesheet" href="~/Content/themes/assets/plugins/multipleselect/multiple-select.css">
    <!--MutipleSelect js-->
    <script src="~/Content/themes/assets/plugins/multipleselect/multiple-select.js"></script>
    <script src="~/Content/themes/assets/plugins/multipleselect/multi-select.js"></script>


    <!-- Custom scroll bar css-->
    <link href="~/Content/themes/assets/plugins/mcustomscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- Perfect scroll bar css-->
    <link href="~/Content/themes/assets/plugins/pscrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <!-- Perfect scroll bar js-->
    <script src="~/Content/themes/assets/plugins/pscrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/themes/assets/plugins/pscrollbar/p-scroll.js"></script>

    <!-- Custom scroll bar js-->
    <script src="~/Content/themes/assets/plugins/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/themes/assets/plugins/mcustomscrollbar/scroll.js"></script>
    <!-- Custom js-->
    <script src="~/Content/themes/assets/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".advance_search").click(function () {
                $("#advancesearch3").toggle(500);
            });
            $(".overlayclose").click(function () {
                $("#advancesearch3").hide();
            });
        });
    </script>
</body>
</html>
